body {
    font-family: 'Roboto', sans-serif;
    background-image:url("https://i.imgur.com/IjN2obf.png");
}

h1 {
    color: #78ab46;
}

.profile-pic {
    position: relative;
    display: inline-block;
}

@media only screen and (max-width: 500px) {
    .mobilecalendar {
        height: 500px;
    }
}

.profile-pic:hover .edit {
    display: block;
}

.edit {
    padding-top: 7px;
    padding-right: 7px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.edit a {
    color: #000;
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}

.glyphicon {
    margin-bottom: 5px;
    margin-right: 5px;
}

.fa {
    margin-right: 5px;
}

th.fc-day-header.fc-sat, th.fc-day-header.fc-sun{
    background-color: #FFF9C4 !important;
}

.someSpace {
    margin-right: 8px;
}

.badge {
    margin-left: 5px;
}

.panel-login {
    margin-top: 20px;
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    padding: 20px;
    word-wrap: break-word;
}

.error-message {
    color: #a94442;
}

.error-message:first-letter {
    text-transform: capitalize;
}

.navbar{
    margin-top: 20px;
}

#calendar {
    /* 		float: right; */
    margin: 0 auto;
    width: auto;
    /*background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 1px 2px #C3C3C3;
    -webkit-box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.18);
    padding: 20px;*/
}

.marginup {
    margin-bottom: 3px;
}

.marginright {
    margin-right: 5px;
}

.popover.primary {
    border-color:#337ab7;
}
.popover.primary>.arrow {
    border-top-color:#337ab7;
}
.popover.primary>.popover-title {
    color:#fff;
    background-color:#337ab7;
    border-color:#337ab7;
}
.popover.success {
    border-color:#d6e9c6;
}
.popover.success>.arrow {
    border-top-color:#d6e9c6;
}
.popover.success>.popover-title {
    color:#3c763d;
    background-color:#dff0d8;
    border-color:#d6e9c6;
}
.popover.info {
    border-color:#bce8f1;
}
.popover.info>.arrow {
    border-top-color:#bce8f1;
}
.popover.info>.popover-title {
    color:#31708f;
    background-color:#d9edf7;
    border-color:#bce8f1;
}
.popover.warning {
    border-color:#faebcc;
}
.popover.warning>.arrow {
    border-top-color:#faebcc;
}
.popover.warning>.popover-title {
    color:#8a6d3b;
    background-color:#fcf8e3;
    border-color:#faebcc;
}
.popover.danger {
    border-color:#ebccd1;
}
.popover.danger>.arrow {
    border-top-color:#ebccd1;
}
.popover.danger>.popover-title {
    color:#a94442;
    background-color:#f2dede;
    border-color:#ebccd1;
}

.blockquote-noborder {
    border-left:none;
}

.quote-badge{
    background-color: rgba(0, 0, 0, 0.2);
}

.quote-box{

    overflow: hidden;
    margin-top: -50px;
    padding-top: -100px;
    border-radius: 17px;
    background-color: #4ADFCC;
    margin-top: 25px;
    color:white;
    width: 325px;
    box-shadow: 2px 2px 2px 2px #E0E0E0;

}

.quotation-mark{

    margin-top: -10px;
    font-weight: bold;
    font-size:100px;
    color:white;
    font-family: "Times New Roman", Georgia, Serif;

}

.padding5 {
    padding-right: 5px;
}

.quote-text{

    font-size: 19px;
    margin-top: -65px;
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.fc-today {
    background: inherit;
}

.fc-today .fc-day-number {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin: 2px;

    background: #FFF;
    border: 2px solid #EF5350;
    color: #666;
    text-align: center;
    font-weight: bold;
}

.fc-agendaWeek-button, .fc-month-button, .fc-agendaDay-button, .fc-today-button, .fc-listWeek-button {
    text-transform: capitalize;
}