h1 {
    color: #78ab46;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #ccc
}

footer p {
    padding: 15px;
}

.error-message {
    color: #a94442;
}

.error-message:first-letter {
    text-transform: capitalize;
}

.navbar{
    margin-top: 20px;
}

body {
    font-family: 'Roboto', sans-serif;
}

#calendar {
    /* 		float: right; */
    margin: 0 auto;
    width: 900px;
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 1px 2px #C3C3C3;
    -webkit-box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.18);
    padding: 20px;
}

