<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>

<body>
<div th:replace="fragments/navigation :: navigation"></div>
<div class="container">
    <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/css/bootstrap-formhelpers.min.css" rel="stylesheet" media="screen"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/js/bootstrap-formhelpers.min.js"></script>

    <h1>Settings: </h1>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-login">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation"><a href="/settings"><span class="glyphicon glyphicon-user"></span> Edit Account</a></li>
                        <li role="presentation"><a href="/changepassword"><span class="glyphicon glyphicon-lock"></span> Change Password</a></li>
                        <li role="presentation" class="active"><a href="/appsettings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                        <li role="presentation"><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Recent Activity</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <form th:action="@{/appsettings}" method="post" th:object="${loggedUser}">
                    <div class="panel panel-login">
                        <div th:if="${param.success}">
                            <div class="alert alert-success">
                                Your profile settings have been updated
                            </div>
                        </div>
                        <div th:if="${param.error}">
                            <div class="alert alert-danger">
                                Please enter valid information
                            </div>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                Motivational messages for tasks
                                <div class="material-switch pull-right">
                                    <input id="motivationText" name="motivationText" type="checkbox" th:checked="${loggedUser.motivationalTaskMessage}"/>
                                    <label for="motivationText" class="label-info"></label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                Small calendar on the home page
                                <div class="material-switch pull-right">
                                    <input id="smallCalendar" name="smallCalendar" type="checkbox" th:checked="${loggedUser.smallCalendar}"/>
                                    <label for="smallCalendar" class="label-info"></label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                Import To-Do's in your calendar
                                <div class="material-switch pull-right">
                                    <input id="todoToCalendar" name="todoToCalendar" type="checkbox" th:checked="${loggedUser.todoToCalendar}"/>
                                    <label for="todoToCalendar" class="label-info"></label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                Show e-mail address on profile
                                <div class="material-switch pull-right">
                                    <input id="showEmail" name="showEmail" type="checkbox" th:checked="${loggedUser.showEmail}"/>
                                    <label for="showEmail" class="label-info"></label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit"
                               name="appsettings-submit"
                               id="appsettings-submit"
                               class="form-control btn btn-info"
                               value="Update Settings"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>