<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<title th:text="'Budget - '+${paramBudget.title}"></title>

<body>
    <div th:replace="fragments/navigation :: navigation"></div>
    <div class="container">
        <div class="container">
            <h1>Budget</h1>
            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-login">
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation" class="active"><a href="/budget-list"><span class="glyphicon glyphicon-briefcase"></span> Budgets</a></li>
                            <li role="presentation"><a href="/budget-new"><span class="glyphicon glyphicon-euro"></span> New budget</a></li>
                            <li role="presentation"><a href="#"><span class="glyphicon glyphicon-stats"></span> Statistics</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="panel panel-login">
                        <div th:if="${param.error}">
                            <div class="alert alert-danger">
                                Please enter valid information
                            </div>
                        </div>
                        <div>
                            <h3 class="text-center"><span th:text="${paramBudget.title}"> </span></h3>
                                <p class="text-center"><span style="font-size: 13px" th:text="'(Start budget: €'+${paramBudget.budgetAmount}+')'"></span></p>
                            <div th:if="${leftOver} > 0.01">
                                <h1 class="text-center">&euro; <span th:text="${leftOver}"></span></h1>
                            </div>
                            <div th:if="${leftOver} &lt; 0">
                                <h1 class="text-center redtext">&euro; <span th:text="${leftOver}"></span></h1>
                            </div>

                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" th:style="'width:'+ ${incomesPercent} +'%'">
                                    Budget <span>&euro; <span th:text="${paramBudget.budgetAmount} - ${totalExpense}"></span></span>
                                </div>

                                <div class="progress-bar progress-bar-danger" role="progressbar" th:style="'width:'+ ${expensesPercent} +'%'">
                                    Expenses <span>&euro; <span th:text="${totalExpense}"></span></span>
                                </div>
                            </div>
                            <hr/>
                            <!--<p>Start budget: &euro; <span th:text="${paramBudget.budgetAmount}"></span></p>-->
                        </div>
                        <!-- Tables -->
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="greentext">INCOME</h4>
                                <table id="incomeTable" class="table table-hover table-striped">
                                    <thead class="thead-inverse">
                                    <tr>
                                        <th>Description</th>
                                        <th>Amount</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="income : ${incomeList}">
                                            <td th:text="${income.description}"></td>
                                            <td class="greentext">+ <span th:text="${income.amount}"></span></td>
                                            <td>
                                                <!-- Income Actions -->
                                                <a th:href="@{/income-edit(id=${income.id})}" data-toggle="tooltip" data-placement="right" title="Edit" class="btn btn-warning btn-sm fa fa-pencil"></a>
                                                <a th:href="@{/income-delete(id=${income.id})}" data-toggle="tooltip" data-placement="right" title="Delete" class="btn btn-default btn-sm fa fa-trash"></a>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <hr/>
                                <form method="post" th:action="@{/budget(id=${paramBudget.id},action=income)}" th:object="${income}">
                                    <div class="row">
                                        <div class="col-md-6">

                                            <input type="text" class="form-control"
                                                   autocomplete="off"
                                                   required="required"
                                                   id="incomeDesc"
                                                   name="incomeDesc"
                                                   placeholder="Description" th:field="*{description}"/>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="number" class="form-control"
                                                   autocomplete="off"
                                                   required="required"
                                                   id="incomeValue"
                                                   name="incomeValue"
                                                   placeholder="0.01" step="0.01" th:field="*{amount}"/>
                                        </div>

                                        <div class="col-md-3">
                                            <button type="submit"
                                                    name="income-submit"
                                                    id="income-submit"
                                                    class="btn btn-success">
                                                <span class="fa fa-plus marginleft"></span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <h4 class="redtext">EXPENSES</h4>
                                <table id="expenseTable" class="table table-hover table-striped">
                                    <thead class="thead-inverse">
                                    <tr>
                                        <th>Description</th>
                                        <th>Amount</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="expense : ${expenseList}">
                                        <td th:text="${expense.description}"></td>
                                        <td class="redtext">- <span th:text="${expense.amount}"></span></td>
                                        <td>
                                            <a th:href="@{/expense-edit(id=${expense.id})}" data-toggle="tooltip" data-placement="right" title="Edit" class="btn btn-warning btn-sm fa fa-pencil"></a>
                                            <a th:href="@{/expense-delete(id=${expense.id})}" data-toggle="tooltip" data-placement="right" title="Delete" class="btn btn-default btn-sm fa fa-trash"></a>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <hr/>
                                <form method="post" th:action="@{/budget(id=${paramBudget.id},action=expense)}" th:object="${expense}">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" class="form-control"
                                                   autocomplete="off"
                                                   autofocus="autofocus"
                                                   required="required"
                                                   id="expenseDesc"
                                                   name="expenseDesc"
                                                   placeholder="Description" th:field="*{description}"/>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="number" class="form-control"
                                                   autocomplete="off"
                                                   autofocus="autofocus"
                                                   required="required"
                                                   id="expenseValue"
                                                   name="expenseValue"
                                                   placeholder="0.01" step="0.01" th:field="*{amount}"/>
                                        </div>
                                        <div class="col-md-3">
                                            <button type="submit"
                                                   name="expense-submit"
                                                   id="expense-submit"
                                                   class="btn btn-danger">
                                                 <span class="fa fa-plus marginleft"></span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <a href="/budget-list" class="btn btn-default pull-left"><span class="fa fa-arrow-left"></span> Back</a>
                </div>
            </div>

        </div>
    </div>
    <br/>
</body>
</html>