<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>

<body>
    <div th:replace="fragments/navigation :: navigation"></div>
    <div class="container">
        <h1>Budget</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-login">
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation"><a href="/budget-list"><span class="glyphicon glyphicon-briefcase"></span> Budgets</a></li>
                            <li role="presentation" class="active"><a href="/budget-new"><span class="glyphicon glyphicon-euro"></span> New budget</a></li>
                            <li role="presentation"><a href="#"><span class="glyphicon glyphicon-stats"></span> Statistics</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="panel panel-login">
                        <div th:if="${param.error}">
                            <div class="alert alert-danger">
                                Please enter valid information
                            </div>
                        </div>
                        <form th:action="@{/budget-new}" th:object="${budget}" method="post">
                            <div class="form-group">
                                <label for="title" class="control-label col-sm-2">Title: </label>
                                <input id="title" type="text" th:field="*{title}"
                                       class="form-control"
                                       autocomplete="off"
                                       autofocus="autofocus"
                                       required="required"
                                       placeholder="Title"/>
                            </div>
                            <div class="form-group">
                                <label for="budget" class="control-label col-sm-2">Budget: </label>
                                <input id="budget" type="number" th:field="*{budgetAmount}"
                                       class="form-control"
                                       autocomplete="off"
                                       autofocus="autofocus"
                                       required="required"
                                       placeholder="&euro; 0.00"
                                       min="0" value="0" step="0.01"/>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <input type="submit"
                                               name="budget-submit"
                                               id="budget-submit"
                                               class="form-control btn btn-info"
                                               value="New budget"/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <a href="/budget-list" class="btn btn-default pull-left"><span class="fa fa-arrow-left"></span> Back</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>