<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>

<body>
    <div th:replace="fragments/navigation :: navigation"></div>
    <div class="container">
        <h1>Budget</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-login">
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation" class="active"><a href="/budget-list"><span class="glyphicon glyphicon-stats"></span> Budgets</a></li>
                            <li role="presentation"><a href="#"><span class="glyphicon glyphicon-lock"></span> Bug Reports</a></li>
                            <li role="presentation"><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Recent Activity</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="panel panel-login">
                        <div th:if="${param.error}">
                            <div class="alert alert-danger">
                                Please enter valid information
                            </div>
                        </div>
                        <div>
                            <h3 class="text-center">Budget: <span th:text="${paramBudget.title}"></span></h3>
                            <div th:if="${leftOver} > 0.01">
                                <h1 class="text-center">&euro; <span th:text="${leftOver}"></span></h1>
                            </div>
                            <div th:if="${leftOver} &lt; 0">
                                <h1 class="text-center redtext">&euro; <span th:text="${leftOver}"></span></h1>
                            </div>

                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" th:style="'width:'+ ${incomesPercent} +'%'">
                                    Budget <span>&euro; <span th:text="${leftOver}"></span></span>
                                </div>

                                <div class="progress-bar progress-bar-danger" role="progressbar" th:style="'width:'+ ${expensesPercent} +'%'">
                                    Expenses <span>&euro; <span th:text="${totalExpense}"></span></span>
                                </div>
                            </div>
                            <hr/>
                            <p>Start budget: &euro; <span th:text="${paramBudget.budgetAmount}"></span></p>
                            <p>Income: &euro; <span th:text="${totalIncome}"></span></p>
                            <p>Expenses: &euro; <span th:text="${totalExpense}"></span></p>
                        </div>
                    </div>
                    <a href="/budget-list" class="btn btn-default pull-left"><span class="fa fa-arrow-left"></span> Back</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>