<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>

<body>
    <div th:replace="fragments/navigation :: navigation"></div>
    <script th:src="@{../js/searchtable.js}"></script>
    <div class="container">
        <h1>Administrator Panel </h1>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-login">
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation"><a href="/admin"><span class="glyphicon glyphicon-user"></span> Settings</a></li>
                            <li role="presentation" class="active"><a href="/admin/bugreports"><span class="glyphicon glyphicon-lock"></span> Bug Reports</a></li>
                            <li role="presentation"><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Recent Activity</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div th:if="${param.notified}">
                        <div class="alert alert-success">
                            The reporter has been notified!
                        </div>
                    </div>
                    <div class="panel panel-login">
                        <table class="table table-hover table-striped table-list-search">
                            <div class="panel-body">
                                <input class="form-control" autocomplete="off" id="system-search" name="q" placeholder="Search bug"/>
                            </div>
                            <thead class="thead-inverse">
                                <tr>
                                    <th>ID</th>
                                    <th>Reporter</th>
                                    <th>Bug</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody th:if="!${param.view}">
                                <tr th:if="!${param.view}" th:each="bug : ${bugs}">
                                    <td th:text="${bug.id}"></td>
                                    <td><a th:href="@{/profile(id=${bug.user.id})}" th:text="${bug.user.username}"></a></td>
                                    <td th:text="${bug.description}"></td>
                                    <td>
                                        <a th:href="@{/bug-fix(id=${bug.id})}" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Mark as fixed"><span class="glyphicon glyphicon-ok"></span> Fix</a>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody th:if="${param.view}">
                            <tr th:if="${param.view}" th:each="bug : ${fixedBugs}">
                                <td th:text="${bug.id}"></td>
                                <td><a th:href="@{/profile(id=${bug.user.id})}" th:text="${bug.user.username}"></a></td>
                                <td th:text="${bug.description}"></td>
                                <td>
                                    <a th:href="@{/bug-unfix(id=${bug.id})}" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Mark as unfixed"><span class="fa fa-bug"></span> Not fixed</a>
                                    <a th:href="@{bug-notify(id=${bug.id})}" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Automated notify"><span class="fa fa-bell"></span> Notify</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <a th:if="${param.view}" href="/admin/bugreports" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Show bugs</a>
                    <a th:if="!${param.view}" href="/admin/bugreports?view=1" class="btn btn-default"><span class="glyphicon glyphicon-check"></span> Show fixed bugs</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>