<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <title>Planner Management</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
    <link rel='stylesheet' href='webjars/fullcalendar/3.5.1/dist/fullcalendar.css' />
    <script src='webjars/moment/2.19.1/min/moment.min.js'></script>
    <script src='webjars/fullcalendar/3.5.1/dist/fullcalendar.js'></script>


    <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                aspectRatio: 2,
                header: {
                    left: 'prev, next today',
                    center: 'title',
                    right: 'listDay, listWeek, month'
                },
                events: {
                    url : '/api/event/all'
                }
            })
        });
    </script>


</head>

    <body>
    <div th:replace="fragments/navigation :: navigation"></div>
        <div class="container">
            <div class="row">
                <div id='calendar'></div>
            </div>
        </div>
    </body>
</html>