<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <title>Planner Management</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
    <link rel='stylesheet' href='webjars/fullcalendar/3.8.0/dist/fullcalendar.css'/>
    <script src='webjars/moment/2.19.1/min/moment.min.js'></script>
    <script src='webjars/fullcalendar/3.8.0/dist/fullcalendar.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/gcal.js'></script>


    <script>
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                aspectRatio: 2,
                googleCalendarApiKey: 'AIzaSyA0cmdUda0AHEOu2sa-7L0YWmT-OcIYIwM',
                editable: true,
                selectable: true,
                themeSystem: 'bootstrap3',
                navLinks: true,
                events: {
                    url : '/api/event/all'
                },
                navLinkDayClick: function(date, jsEvent) {
                    console.log('day', date.format()); // date is a moment
                },
                eventClick:  function(event, jsEvent, view) {
                    endtime = $.fullCalendar.moment(event.end).format('h:mm');
                    starttime = $.fullCalendar.moment(event.start).format('dddd, MMMM Do YYYY, h:mm');
                    var mywhen = starttime + ' - ' + endtime;
                    $('#modalTitle').html(event.title);
                    $('#modalDesc').html(event.description)
                    $('#modalWhen').text(mywhen);
                    $('#eventID').val(event.id);
                    $('#calendarModal').modal();
                },
                select: function(start, end, jsEvent) {
                    endtime = $.fullCalendar.moment(end).format('h:mm');
                    starttime = $.fullCalendar.moment(start).format('dddd, MMMM Do YYYY');
                    var mywhen = starttime + ' - ' + endtime;
                    start = moment(start).format();
                    end = moment(end).format();
                    $('#createEventModal #startTime').val(start);
                    $('#createEventModal #endTime').val(end);
                    $('#createEventModal #when').text(mywhen);
                    $('#createEventModal').modal('toggle');
                },
                eventDrop: function(event, delta){
                    $.ajax({
                        url: '/calendar-update',
                        data: {title: event.title, start: moment(event.start).format(), end: moment(event.end).format(), id: event.id},
                        type: "GET",
                        success: function(json) {
                            //alert(json);
                        }
                    });
                },
                eventResize: function(event) {
                    $.ajax({
                        url: '/calendar-update',
                        data: {title: event.title, start: moment(event.start).format(), end: moment(event.end).format(), id: event.id},
                        type: "GET",
                        success: function(json) {
                            //alert(json);
                        }
                    });
                },
                header: {
                    left: 'prev, next today',
                    center: 'title',
                    right: 'month, agendaWeek, agendaDay, listDay'
                }
            /*    eventSources: [
                    '/api/event/all',
                    {
                        url: 'https://calendar.google.com/calendar?cid=MGVoYXR1ZGxuaTVkMjQ5dHE0cnVybXZiaTBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ'
                    }
                ],*/
            })
            $('#deleteButton').on('click', function(e){
                // We don't want this to act as a link so cancel the link action
                e.preventDefault();
                doDelete();
            });

            function doDelete(){
                $("#calendarModal").modal('hide');
                var eventID = $('#eventID').val();
                $.ajax({
                    url: 'calendar-delete',
                    data: {id: eventID},
                    type: "GET",
                    success: function(json) {
                        if(json == 1)
                            $("#calendar").fullCalendar('removeEvents',eventID);
                        else
                            return false;
                    }
                });
                location.reload();
            }
        });
    </script>


</head>

<body>
<div th:replace="fragments/navigation :: navigation"></div>
<div class="container">
    <!-- Show calendar -->
    <div class="panel panel-login">
        <div id='calendar'></div>
    </div>
    <h1><span class="glyphicon glyphicon-envelope"></span>New event</h1>
    <form th:action="@{/calendar}" th:object="${event}" method="post">

        <div class="panel panel-login">
            <!--<label for="reciepent" class="control-label col-sm-2">To (username): </label>-->
            <div th:if="${param.error}">
                <div class="alert alert-danger">
                    This recipient does not exist
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="control-label col-md-3">Title: </label>
                <input id="title" type="text" th:field="*{title}"
                       class="form-control"
                       required="required"
                       placeholder="Title"/>
            </div>
            <div class="form-group">
                <label for="description" class="control-label col-md-3">Description: </label>
                <textarea id="description" type="text" th:field="*{description}"
                          class="form-control textarea"
                          rows="3"
                          required="required"
                          placeholder="Description"/>
            </div>
            <div class="form-group">
                <label for="startdate" class="control-label col-md-3">Start date: </label>
                <input id="startdate" type="date" name="date" th:field="*{start}"
                       class="form-control"
                       required="required"/>
            </div>
            <div class="form-group">
                <label for="enddate" class="control-label col-md-3">End date: </label>
                <input id="enddate" type="date" name="date" th:field="*{end}"
                       class="form-control"
                       required="required"/>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <input type="submit"
                           name="message-submit"
                           id="message-submit"
                           class="form-control btn btn-info"
                           value="New Task"/>
                </div>
            </div>
        </div>
    </form>
    <div id="calendarModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="modalTitle" class="modal-title"></h4>
                </div>
                <div id="modalBody" class="modal-body">
                    <h4 class="modal-title"></h4>
                    <p id="modalDesc"></p>
                    <div id="modalWhen" style="margin-top:5px;"></div>
                </div>
                <input type="hidden" id="eventID"/>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    <button type="submit" class="btn btn-danger" id="deleteButton">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <form th:action="@{/calendar}" th:object="${event}" method="post">
        <div id="createEventModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Create new Event modal-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Event</h4>
                    </div>
                    <div class="modal-body">
                        <div class="control-group">
                            <label class="control-label" for="description">Title: </label>
                            <div class="field desc">
                                <input class="form-control" th:field="*{title}" id="desc" name="title" placeholder="Title" type="text" value="" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="description">Description: </label>
                            <div class="field desc">
                                <input class="form-control" th:field="*{description}" id="desc" name="title" placeholder="Description" type="text" value="" />
                            </div>
                        </div>

                        <input th:field="*{start}" type="hidden" id="startTime"/>
                        <input th:field="*{end}" type="hidden" id="endTime"/>

                        <div class="control-group">
                            <label class="control-label" for="when">When: </label>
                            <div class="controls controls-row" id="when" style="margin-top:5px;">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                        <button type="submit" class="btn btn-primary" id="submitButton">Save</button>
                    </div>
                </div>

            </div>
        </div>
    </form>

</div>
</body>
</html>