<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header"></head>
    <link rel='stylesheet' href='webjars/fullcalendar/3.8.0/dist/fullcalendar.css'/>
    <script src='webjars/moment/2.19.1/min/moment.min.js'></script>
    <script src='webjars/fullcalendar/3.8.0/dist/fullcalendar.js'></script>
    <script src="js/gcal.min.js"></script>
    <script src="js/calendar.js"></script>

    <body>
        <div th:replace="fragments/navigation :: navigation"></div>
        <div class="container">
            <!-- Show calendar -->
            <div class="panel panel-login">
                <div id='calendar' style="height: auto; overflow: auto;"></div>
            </div>

            <!-- Modal -->
            <form th:action="@{/calendar}" th:object="${event}" method="post">
                <div id="createEventModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- New Event Modal-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add Event</h4>
                            </div>
                            <div class="modal-body">
                                <div class="control-group">
                                    <label class="control-label" for="theTitle">Title: </label>
                                    <div class="field desc">
                                        <input class="form-control" autocomplete="off" th:field="*{title}" id="theTitle" name="title" placeholder="Title" type="text" value="" />
                                    </div>
                                </div>
                                <br/>
                                <div class="control-group">
                                    <label class="control-label" for="theDescription">Description: </label>
                                    <div class="field desc">
                                        <input class="form-control" autocomplete="off" th:field="*{description}" id="theDescription" name="title" placeholder="Description" type="text" value="" />
                                    </div>
                                </div>
                                <br/>
                                <div class="control-group">
                                    <label class="control-label" for="theColor">Colour: </label>
                                    <div class="field desc">
                                        <select th:field="*{backgroundColor}" name="color" class="form-control" id="theColor">
                                            <option value="#5C6BC0">Choose</option>
                                            <option style="color:#5C6BC0;" value="#0071c5">&#9724; Dark Blue</option>
                                            <option style="color:#4DD0E1;" value="#4DD0E1">&#9724; Turquoise</option>
                                            <option style="color:#4CAF50;" value="#4CAF50">&#9724; Green</option>
                                            <option style="color:#FFD700;" value="#FFD700">&#9724; Yellow</option>
                                            <option style="color:#FF8C00;" value="#FF8C00">&#9724; Orange</option>
                                            <option style="color:#F44336;" value="#F44336">&#9724; Red</option>
                                            <option style="color:#000;" value="#000">&#9724; Black</option>

                                        </select>
                                    </div>
                                </div>

                                <input th:field="*{start}" type="hidden" id="startTime"/>
                                <input th:field="*{end}" type="hidden" id="endTime"/>
                                <br/>
                                <div class="control-group">
                                    <label class="control-label" for="when">When: </label>
                                    <div class="controls controls-row" id="when" style="margin-top:5px;">
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                <button type="submit" class="btn btn-primary" id="submitButton">Save</button>
                            </div>
                        </div>

                    </div>
                </div>
            </form>


            <!--EDIT EVENT MODAL-->
            <!-- Modal -->
            <form th:action="@{/calendar-update}" th:object="${event}" method="post">
                <div id="editEventModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Edit Event</h4>
                            </div>
                            <div class="modal-body">
                                <div class="control-group">
                                    <label class="control-label" for="theTitle">Title: </label>
                                    <div class="field desc">
                                        <input class="form-control" autocomplete="off" th:field="*{title}" th:value="${title}" id="modalEditTitle" name="title" placeholder="Title" type="text" value="" />
                                    </div>
                                </div>
                                <br/>
                                <div class="control-group">
                                    <label class="control-label" for="theDescription">Description: </label>
                                    <div class="field desc">
                                        <input class="form-control" autocomplete="off" th:value="${description}" th:field="*{description}" id="modalEditDesc" name="title" placeholder="Description" type="text" value="" />
                                    </div>
                                </div>
                                <br/>
                                <div class="control-group">
                                    <label class="control-label" for="theColor">Colour: </label>
                                    <div class="field desc">
                                        <select th:field="*{backgroundColor}" th:value="${backgroundColor}" name="color" class="form-control" id="eventEditColour">
                                            <option value="#5C6BC0">Choose</option>
                                            <option style="color:#5C6BC0;" value="#0071c5">&#9724; Dark Blue</option>
                                            <option style="color:#4DD0E1;" value="#4DD0E1">&#9724; Turquoise</option>
                                            <option style="color:#4CAF50;" value="#4CAF50">&#9724; Green</option>
                                            <option style="color:#FFD700;" value="#FFD700">&#9724; Yellow</option>
                                            <option style="color:#FF8C00;" value="#FF8C00">&#9724; Orange</option>
                                            <option style="color:#F44336;" value="#F44336">&#9724; Red</option>
                                            <option style="color:#000;" value="#000">&#9724; Black</option>

                                        </select>
                                    </div>
                                </div>

                                <input th:field="*{id}" th:value="${id}" type="hidden" id="eventEditID"/>
                                <input th:field="*{start}" th:value="${start}" type="hidden" id="startEditTime"/>
                                <input th:field="*{end}" th:value="${end}" type="hidden" id="endEditTime"/>
                                <br/>

                            </div>
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                <button type="submit" class="btn btn-danger pull-left" id="deleteButton">Delete</button>
                                <button type="submit" class="btn btn-primary" id="submitEditButton">Save</button>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </body>
</html>