<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>

<body>
    <div th:replace="fragments/navigation :: navigation"></div>
    <script>
        $(document).ready(function() {
            var activeSystemClass = $('.list-group-item.active');

            //something is entered in search form
            $('#system-search').keyup( function() {
                var that = this;
                // affect all table rows on in systems table
                var tableBody = $('.table-list-search tbody');
                var tableRowsClass = $('.table-list-search tbody tr');
                $('.search-sf').remove();
                tableRowsClass.each( function(i, val) {

                    //Lower text for case insensitive
                    var rowText = $(val).text().toLowerCase();
                    var inputText = $(that).val().toLowerCase();
                    if(inputText != '')
                    {
                        $('.search-query-sf').remove();
                        tableBody.prepend('<tr class="search-query-sf"><td colspan="6"><strong>Searching for: "'
                            + $(that).val()
                            + '"</strong></td></tr>');
                    }
                    else
                    {
                        $('.search-query-sf').remove();
                    }

                    if( rowText.indexOf( inputText ) == -1 )
                    {
                        //hide rows
                        tableRowsClass.eq(i).hide();

                    }
                    else
                    {
                        $('.search-sf').remove();
                        tableRowsClass.eq(i).show();
                    }
                });
                //all tr elements are hidden
                if(tableRowsClass.children(':visible').length == 0)
                {
                    tableBody.append('<tr class="search-sf"><td class="text-muted" colspan="6">No entries found.</td></tr>');
                }
            });
        });
    </script>

    <div class="container">
        <h1><span class="glyphicon glyphicon-user"></span> Contacts <a href="/contact-new" class="btn btn-success pull-right">New contact</a></h1>
        <div class="panel panel-login table-responsive">
            <table class="table table-hover table-striped table-list-search">
                <div class="panel-body">
                    <input class="form-control" id="system-search" name="q" placeholder="Search contact"/>
                </div>
                <thead class="thead-inverse">
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Email</th>
                        <th>Mobile number</th>
                        <th>Address</th>
                        <th>Notes</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="contact : ${contacts}">
                        <td th:text="${contact.firstName}"></td>
                        <td th:text="${contact.lastName}"></td>
                        <td th:text="${contact.email}"></td>
                        <td th:text="${contact.mobileNumber}"></td>
                        <td th:text="${contact.address}"></td>
                        <td th:text="${contact.notes}"></td>
                        <td>
                            <a th:href="@{/contacts-edit(id=${contact.id})}" class="btn btn-warning" data-toggle="tooltip" data-placement="up" title="Edit this contact">Edit</a>
                            <a th:href="@{/contacts-delete(id=${contact.id})}" class="btn btn-danger" data-toggle="tooltip" data-placement="right" title="Delete">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>