<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>

<body>
<div th:replace="fragments/navigation :: navigation"></div>

<div class="container">
    <h1>Hello, <span th:text="${loggedUser.firstName}"></span></h1>

    <div class="row">
        <div class="col-md-6 col-md-4">
            <a class="link-unstyled" href="/task-list">
                <div class="panel panel-login">
                    <h3>Tasks: </h3>
                    <p th:text="${taskMotivation}"></p>
                </div>
            </a>
            <div class="panel panel-login">
                <h3>Completion: </h3>
                <p>How far I'm done with this project: </p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                        30%
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-4">
            <a class="link-unstyled" href="/messages">
                <div class="panel panel-login">
                    <h3>Messages:</h3>
                    <p th:if="${session.unreadMessages} > 0">You have <span th:text="${session.unreadMessages}"></span> unread message(s)</p>
                    <p th:if="${session.unreadMessages == 0}">You have no unread messages</p>
                </div>
            </a>
            <div class="panel panel-login">
                <h3>Test: </h3>
                <p>How much I want to be completed near next week: </p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                        50%
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-4">
            <blockquote class="quote-box" style="margin-left: 10px">
                <p class="quotation-mark">
                    “
                </p>
                <p class="quote-text" th:text="${quote.quote}"></p>
                <hr/>
                <div class="blog-post-actions">
                    <p class="blog-post-bottom pull-left" th:text="${quote.author}">

                    </p>
                    <p class="blog-post-bottom pull-right">
                        <span class="badge quote-badge" th:text="${quote.cat}"></span>
                    </p>
                </div>
            </blockquote>
        </div>
    </div>

    <div class="row">


    </div>

    <div class="col-xs-6 col-sm-4">
        <a href="/report-bug">Report a bug</a>
    </div>
</div>


</body>
</html>