<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>

<body>
<div th:replace="fragments/navigation :: navigation"></div>

<link rel='stylesheet' href='webjars/fullcalendar/3.8.0/dist/fullcalendar.css'/>
<script src='webjars/moment/2.19.1/min/moment.min.js'></script>
<script src='webjars/fullcalendar/3.8.0/dist/fullcalendar.js'></script>
<script src="js/gcal.min.js"></script>
<script src="js/calendarWidget.js"></script>

<div class="container">
    <h1><span class="fa fa-home"></span> Hello, <span th:text="${loggedUser.firstName}"></span></h1>

    <div class="row">
        <div class="col-md-6 col-md-4">
            <a class="link-unstyled" href="/task-list">
                <div class="panel panel-login">
                    <h3>Tasks</h3>
                    <p th:if="${loggedUser.MotivationalTaskMessage}" th:text="${taskMotivation}"></p>
                    <p th:if="!${loggedUser.MotivationalTaskMessage}">You have <span th:text="${session.tasksLeftSession}"></span>  tasks.</p>
                </div>
            </a>
            <div class="panel panel-login">
                <h3>Completion</h3>
                <p>How far I'm done with this project: </p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        80%
                    </div>
                </div>
            </div>
            <div class="panel panel-login">
                <h3>Test</h3>
                <p>How much I want to be completed near next week: </p>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                        70%
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-4">
            <a class="link-unstyled" href="/messages">
                <div class="panel panel-login">
                    <h3>Messages</h3>
                    <p th:if="${session.unreadMessages} > 0">You have <span th:text="${session.unreadMessages}"></span> unread message(s)</p>
                    <p th:if="${session.unreadMessages == 0}">You have no unread messages</p>
                    <div th:if="${lastMessage}">
                        <small style="color: #666666">Last unread message from <span th:text="${lastMessage.sender.firstName}"></span> on <span th:text="${#dates.format(lastMessage.date, 'dd/MM/yyyy')}"></span></small>
                    </div>
                    <!--<span th:if="${lastMesssage}">Last message from <span th:text="${lastMessage.sender.firstName}"></span> on <span th:text="${#dates.format(lastMessage.date, 'dd/MM/yyyy')}"></span></span>-->
                </div>
            </a>
            <div th:if="${loggedUser.smallCalendar}" class="panel panel-login">
                <div id='calendar'></div>
            </div>

        </div>
        <div th:if="${userRank}" class="col-md-4">
            <div class="panel panel-login">
                <h3><span class="fa fa-trophy"></span> My rank</h3>
                <div class="row">
                    <div class="col-md-5">
                        <strong><p th:text="${userRank.title}"></p></strong>
                    </div>
                    <div class="col-md-3 col-md-offset-4">
                        <p>Next:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <img th:src="${userRank.imageUrl}" width="64" height="64"/>
                    </div>
                    <div class="col-md-6">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" th:attr="aria-valuenow=${loggedUser.tasksCompleted}/${userRank.nextRankScore}*100" aria-valuemin="0" aria-valuemax="100" th:style="'width:'+${loggedUser.tasksCompleted}/${userRank.nextRankScore}*100+'%;'">

                            </div>
                        </div>
                        Progress: <span th:text="${loggedUser.tasksCompleted}"></span>/<span th:if="${userRank.rankNumber} &lt; 11" th:text="${userRank.nextRankScore}"></span><span th:if="${userRank.rankNumber} == 11"> -</span>
                    </div>

                    <div class="col-md-3">
                        <img th:if="${userRank.rankNumber} &lt; 11" th:src="${userRank.nextRankUrl}" width="64" height="64"/>
                        <span th:if="${userRank.rankNumber} == 11">Max</span>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6 col-md-4">
            <blockquote class="quote-box blockquote-noborder">
                <p class="quotation-mark">
                    “
                </p>
                <p class="quote-text" th:text="${quote.quote}"></p>
                <hr/>
                <div class="blog-post-actions">
                    <p class="blog-post-bottom pull-left" th:text="${quote.author}">

                    </p>
                    <p class="blog-post-bottom pull-right">
                        <span class="badge quote-badge" th:text="${quote.cat}"></span>
                    </p>
                </div>
            </blockquote>
        </div>


    </div>

    <div class="row">

    </div>

    <div class="col-xs-6 col-sm-4">
        <span class="fa fa-bug"></span> <a href="/report-bug">Report a bug</a>
    </div>
</div>


</body>
</html>