<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>

<body>
    <div th:replace="fragments/navigation :: navigation"></div>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

    <div class="container">
        <h1><span class="glyphicon glyphicon-envelope"></span>New Message</h1>
        <form th:action="@{/message-new}" th:object="${message}" method="post">
            <div class="panel panel-login">
                <div class="form-group">
                    <label for="reciepent" class="control-label col-sm-2">To (username): </label>
                    <input id="reciepent" type="text" th:field="*{receiver.username}"
                           class="form-control"
                           autofocus="autofocus"
                           required="required"
                           placeholder="Recepient"/>
                </div>
                <div class="form-group">
                    <label for="subject" class="control-label col-md-3">Subject: </label>
                    <input id="subject" type="text" th:field="*{subject}"
                           class="form-control"
                           required="required"
                           placeholder="Subject"/>
                </div>
                <div class="form-group">
                    <label for="message" class="control-label col-md-3">Message: </label>
                    <input id="message" type="text"  th:field="*{messageText}"
                           class="form-control"
                           required="required"
                           placeholder="Message"/>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit"
                               name="message-submit"
                               id="message-submit"
                               class="form-control btn btn-info"
                               value="Send"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>