<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header"></head>

    <body>
        <div th:replace="fragments/navigation :: navigation"></div>

        <div class="container">
            <div class="panel panel-login">
                <div class="panel-body">
                    <div class="col-md-3">
                        <img class="img-rounded" src="http://clipart-library.com/images/ATbrxjpyc.jpg" width="180" height="180"/>
                        <!--<h2><span th:text="${paramUser.firstName} + ' ' +  ${paramUser.lastName}"></span></h2>-->
                        <h2><span th:text="${paramUser.username}"></span></h2>
                        <p th:each="role: ${paramUser.roles}">
                            <span class="label label-success" th:if="${role.name}=='ROLE_ADMIN'">Administrator</span>
                            <span class="label label-default" th:if="${role.name}=='ROLE_USER'">User</span>
                        </p>
                        <p><strong class="someSpace"># </strong><span th:text="${paramUser.id}"></span></p>
                        <p><i class="glyphicon glyphicon-envelope"> </i> <a th:href="@{mailto:${paramUser.email}}" th:text="${paramUser.email}"></a></p>

                        <hr/>
                        <a th:href="@{/message-to(id=${paramUser.id})}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-envelope"></span>Message</a>
                        <button type="button" class="btn btn-success btn-sm">
                            <span class="glyphicon glyphicon-heart"></span> Follow
                        </button>
                    </div>
                    Hello World
                </div>
            </div>
        </div>
    </body>
</html>