<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>

<body>
    <div th:replace="fragments/navigation :: navigation"></div>
    <div class="container">
        <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/css/bootstrap-formhelpers.min.css" rel="stylesheet" media="screen"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/js/bootstrap-formhelpers.min.js"></script>

        <h1>Settings: </h1>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-login">
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation" class="active"><a href="#"><span class="glyphicon glyphicon-user"></span> Edit Account</a></li>
                            <li role="presentation"><a href="/changepassword"><span class="glyphicon glyphicon-lock"></span> Change Password</a></li>
                            <li role="presentation"><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                            <li role="presentation"><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Recent Activity</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <form th:action="@{/settings}" method="post" th:object="${loggedUser}">
                        <div class="panel panel-login">
                            <div th:if="${param.success}">
                                <div class="alert alert-success">
                                    Your profile settings have been updated
                                </div>
                            </div>
                            <div th:if="${param.error}">
                                <div class="alert alert-danger">
                                    Please enter valid information
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        First name:
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control" th:value="${loggedUser.firstName}" th:field="*{firstName}"></input>
                                    </div>
                                    <div class="col-md-2">
                                        Last name:
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control" th:value="${loggedUser.lastName}" th:field="*{lastName}"></input>
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-2">
                                        Age:
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control" th:value="${loggedUser.age}" th:field="*{age}" type="number" min="0" max="100"></input>
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-2">
                                        Country:
                                    </div>
                                    <div class="col-md-3">
                                        <select class="input-medium bfh-countries form-control" th:data-country="${currentCountry}" th:field="*{country}"></select>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit"
                                   name="task-submit"
                                   id="task-submit"
                                   class="form-control btn btn-info"
                                   value="Update Settings"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>