<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>

<body>
    <div th:replace="fragments/navigation :: navigation"></div>

    <div class="container">
        <h1><span class="glyphicon glyphicon-edit"></span> Add a new task </h1>
        <form th:action="@{/task-list}" th:object="${task}" method="post">
            <div class="panel panel-login">
                <div class="form-group">
                    <label for="description" class="control-label col-sm-2">Description: </label>
                    <input id="description" type="text" th:field="*{description}"
                           class="form-control"
                           autofocus="autofocus"
                           required="required"
                           placeholder=""/>
                </div>
                <div class="form-group">
                    <label for="taskdate" class="control-label col-md-3">Target date: </label>
                    <input id="taskdate" type="date" th:field="*{targetDate}"
                           class="form-control"
                           autofocus="autofocus"
                           required="required"
                           placeholder="e.g. 22/05/2019"/>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit"
                               name="task-submit"
                               id="task-submit"
                               class="form-control btn btn-info"
                               value="New task"/>
                    </div>
                </div>
            </div>
        </form>

        <h1><span class="glyphicon glyphicon-check"></span> <span th:text="${loggedUser.firstName}"></span>'s Tasks: </h1>
        <div class="panel panel-login table-responsive">
            <table class="table table-hover table-striped">
                <thead class="thead-inverse">
                    <tr>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Completed</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody th:each="task : ${tasks}">
                    <tr>
                        <td th:text="${task.description}"></td>
                        <td th:text="${task.targetDate}"></td>
                        <td th:if="${task.completed}"><a th:href="@{/task-uncomplete(id=${task.id})}" class="btn btn-danger">Uncomplete</a></td>
                        <td th:if="!${task.completed}"><a th:href="@{/task-complete(id=${task.id})}" class="btn btn-success">I did it!</a></td>
                        <td>
                            <!--
                            <a th:href="@{/task-edit(id=${task.id})}" class="btn btn-warning">Edit</a>
                            -->
                            <a th:href="@{/task-edit(id=${task.id})}" class="btn btn-warning">Edit</a>
                            <a th:href="@{/task-delete(id=${task.id})}" class="btn btn-danger">Delete</a>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>