<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<title th:text="'Assign task to: '+${recepient.username}"></title>

<body>
    <div th:replace="fragments/navigation :: navigation"></div>

    <div class="container">
        <h1><span class="glyphicon glyphicon-edit"></span> Assign task</h1>
        <form th:action="@{/task-assign(id=${recepient.id})}" th:object="${task}" method="post">
            <div class="panel panel-login">
                <div th:if="${param.notfound}">
                    <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        User not found
                    </div>
                </div>
                <div class="container">
                    <strong>To:</strong>
                    <span style="font-size: 14px" th:text="${recepient.username}" class="label label-default">Primary</span>
                </div>
                <hr/>
                <div class="form-group">
                    <label for="description" class="control-label col-sm-2">Description: </label>
                    <input id="description" type="text" autocomplete="off" th:field="*{description}"
                           class="form-control"
                           autofocus="autofocus"
                           required="required"
                           placeholder=""/>
                </div>
                <div class="form-group">
                    <label for="date" class="control-label col-md-3">Target date: </label>
                    <input id="date" type="date" name="date" th:field="*{targetDate}"
                           class="form-control"
                           required="required"
                           placeholder="MM/DD/YYYY"/>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit"
                               name="task-submit"
                               id="task-submit"
                               class="form-control btn btn-info"
                               value="New task"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>