<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<title>To-Do</title>

<body>
    <div th:replace="fragments/navigation :: navigation"></div>

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" type="text/css"/>
    <script src="js/tooltip.js"></script>

    <script src="js/dataTablesConfig/task-list_dt.js"></script>

    <div class="container">
        <div th:if="${pendingTasksCount} > 0">
            <div class="alert alert-success alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <span class="fas fa-info-circle marginright"></span> You have <span th:text="${pendingTasksCount}"></span> pending task(s). <a href="/tasks-pending">Bring me there</a>
            </div>
        </div>
        <h1><span class="glyphicon glyphicon-edit"></span> Add a new task </h1>
        <form th:action="@{/task-list}" th:object="${task}" method="post">
            <div class="panel panel-login">
                <div th:if="${param.notfound}">
                    <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        Task not found
                    </div>
                </div>
                <div th:if="${param.usernotfound}">
                    <div class="alert alert-danger alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        User not found
                    </div>
                </div>
                <div th:if="${param.self}">
                    <div class="alert alert-info alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        You can add tasks for yourself here
                    </div>
                </div>
                <div th:if="${param.deleted}">
                    <div class="alert alert-info alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        Task has been deleted
                    </div>
                </div>
                <div th:if="${param.updated}">
                    <div class="alert alert-success alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        Task has been updated
                    </div>
                </div>

                <div class="form-group">
                    <label for="description" class="control-label col-sm-2">Description: </label>
                    <input id="description" type="text" autocomplete="off" th:field="*{description}"
                           class="form-control"
                           autofocus="autofocus"
                           required="required"
                           placeholder="Title"/>
                </div>
                <div class="form-group">
                    <label for="date" class="control-label col-md-3">Target date: </label>
                    <input id="date" type="date" name="date" th:field="*{targetDate}"
                           class="form-control"
                           required="required"
                           placeholder="MM/DD/YYYY"/>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit"
                               name="task-submit"
                               id="task-submit"
                               class="form-control btn btn-info"
                               value="New task"/>
                    </div>
                </div>
            </div>
        </form>

        <!--<h1><span class="glyphicon glyphicon-check"></span> <span th:text="${loggedUser.firstName}"></span>'s Tasks: </h1>-->
        <h1><span class="fas fa-tasks marginright"></span> To-Do </h1>
        <div class="panel panel-login">
            <table class="table table-hover table-striped">
                <thead class="thead-inverse">
                    <tr>
                        <th class="col-md-7">Description</th>
                        <th>Date</th>
                        <th>Complete</th>
                        <th class="col-md-1">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="task : ${tasks}">
                        <td><span th:text="${task.description}"></span> <span th:if="${#strings.toString(task.targetDate)} == ${today}" class="label label-danger marginleft">Today</span><span th:if="${task.user} != ${task.creator}"><small style="color: #666666"> from <a th:href="@{/profile(id=${task.creator.id})}"><span th:text="${task.creator.username}"></span></a> </small></span></td>
                        <td th:text="${#dates.format(task.targetDate, 'dd MMMMM yyyy')}"></td>
                        <td th:if="!${task.completed}"><a th:href="@{/task-complete(id=${task.id})}" data-toggle="tooltip" data-placement="right" title="Complete" class="btn btn-success btn-sm">I did it!</a></td>
                        <td class="col-md-2">
                            <!--
                            <a th:href="@{/task-edit(id=${task.id})}" class="btn btn-warning">Edit</a>
                            -->
                            <a th:href="@{/task-edit(id=${task.id})}" data-toggle="tooltip" data-placement="left" title="Edit task" class="btn btn-warning btn-sm"><span class="marginleft glyphicon fa fa-pencil-alt"></span></a>
                            <a th:href="@{/task-delete(id=${task.id})}" data-toggle="tooltip" data-placement="right" title="Delete task" class="btn btn-danger btn-sm"><span class="fa fa-trash marginleft"></span></a>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h1><span class="fas fa-check-circle"></span> Completed Tasks: </h1>
        <div class="panel panel-login">
            <table id="completedTaskList" class="table table-hover table-striped">
                <thead class="thead-inverse">
                     <tr>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Completed</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="task : ${completedTasks}">
                        <td><span th:text="${task.description}"></span></td>
                        <!--<td th:text="${task.targetDate}"></td>-->
                        <td th:text="${#dates.format(task.targetDate, 'dd MMMMM yyyy')}"></td>
                        <td th:if="${task.completed}"><a th:href="@{/task-uncomplete(id=${task.id})}" data-toggle="tooltip" data-placement="right" title="Move back to tasks" class="btn btn-danger btn-sm">Incomplete</a></td>
                        <td>
                            <a th:href="@{/task-edit(id=${task.id})}" data-toggle="tooltip" data-placement="left" title="Edit task" class="btn btn-warning btn-sm"><span class="marginleft fa fa-pencil-alt"></span></a>
                            <a th:href="@{/task-delete(id=${task.id})}" data-toggle="tooltip" data-placement="right" title="Delete task" class="btn btn-danger btn-sm"><span class="fa fa-trash marginleft"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>