<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>

<body>
    <div th:replace="fragments/navigation :: navigation"></div>
    <script th:src="@{../js/searchtable.js}"></script>

    <div class="container">
        <h1><span class="fa fa-users"></span> Users </h1>
        <div class="panel panel-login table-responsive">
            <table class="table table-hover table-striped table-list-search">
                <div class="panel-body">
                    <input class="form-control" autocomplete="off" id="system-search" name="q" placeholder="Search user"/>
                </div>
                <thead class="thead-inverse">
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Role</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}"></td>
                        <td><a th:href="@{/profile(id=${user.id})}" th:text="${user.username}"></a></td>
                        <td th:each="role : ${user.roles}">
                            <span class="label label-success" th:if="${role.name}=='ROLE_ADMIN'">Administrator</span>
                            <span class="label label-default" th:if="${role.name}=='ROLE_USER'">User</span>
                            <span class="label label-info" th:if="${role.name}=='ROLE_TESTER'">Tester</span>
                        </td>
                        <td th:text="${user.firstName} + ' ' + ${user.lastName}"></td>
                        <td>
                            <a th:href="@{/message-to(id=${user.id})}" data-toggle="tooltip" data-placement="right" title="Send a private message" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-envelope"></span>Message</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>